extends layout

block content
  div.col-sm-10(id='content')
    div
      hr
      ul.breadcrumb
        li
          a(href='/') Domů
        li
          a(href='/probes') Čidla
      hr    
    div.row
      div.col-lg-12
        div.box
          div.box-header
            h2
              i.fa.fa-align-justify
              span.break
              | Čidla
            div.box-icon
          div.box-content            
            table.table.table-bordered.table-striped.bootstrap-datatable.datatable.dataTable
              thead
                tr(role='row')
                  th Název
                  th Typ
                  th Hodnota
                  th Rozsah OK
                  th Rozsah Varování
                  th Stav
                  th(style='width: 240px;') Akce
              tbody(role='alert')
                each probe in probes
                  tr
                    td= probe.name
                    td= probe.type
                    td
                      span.label.label-warning= probe.lastValue + ' ' + probe.unit
                    td= probe.min + '-' + probe.max + ' ' + probe.unit
                    td= probe.minW + '-' + probe.maxW + ' ' + probe.unit
                    td
                      label.switch.switch-success
                        input.switch-input(type='checkbox', checked)
                        span.switch-label(data-on='ON' data-off='OFF')
                        span.switch-handle
                    td
                      a.btn.btn-primary(href='#' data-toggle="tooltip" data-placement="top" data-original-title="Upravit")
                        i.fa.fa-edit
                      | 
                      a.btn.btn-info(href='#')
                        i.fa.fa-tachometer
                      | 
                      a.btn.btn-inverse(href='#')
                        i.fa.fa-bar-chart-o
                      | 
                      a.btn.btn-danger(href='#')
                        i.fa.fa-trash-o
    div.row
      div.col-sm-12
        div.box
          div.box-header
            h2
              i.fa.fa-hand-up
              span.break
              | Operace s čidly
          div.box-content
            div.row
              div.col-sm-2.col-md-1
                a.quick-button-small.span1(href='/probes/new-auto')
                  i.fa.fa-search-plus
                  p Nové elektronické čidlo
                  span.notification.green 2
              div.col-sm-2.col-md-1
                a.quick-button-small.span1(href='/probes/new-manual')
                  i.fa.fa-edit.icon
                  p Nový typ ručního měření